/*overall style start*/
body{
  font-family: 나눔고딕, NanumGothic, 돋움, dotum;
  font-size: 12px;
}
/*overall style end*/


/*overall layout start*/
#container {
  width: 800px;
  margin: 0px auto;
  border: 1px solid #ddd;

}
section {
  height: 600px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
section article {
  margin-left: 200px;
}
/*overall layout end*/


/*navication start*/
nav.navigation {
  width: 160px;
  position: absolute;
  top: 100px;
  left: 20px;
  border: 1px solid #aaa;
}
nav.navigation ul {
  margin: 0.5em 0em 0.5em 1em;
}
nav.navigation li a {
  font-size: 22px;
  letter-spacing: -2px;
  line-height: 1.3em;
}
/*navication end*/


/*home section start*/
#home {
  background: #bbcad2;
}
/*home section start*/


/*tweetbox start*/
#tweetbox {
  width: 300px;
  position: absolute;
  top: 310px;
  left: 50px;
}
#tweetbox h2{
  font-size: 15px;
}
.tweet {
  margin: 1em;
}
#tweets .loading {
  height: 16px;
  margin: 1em;
  padding-left: 16px;
  display: block;
  background: url(/images/tweet-loader.gif) no-repeat;
}
#tweets .failed {
  margin: 1em;
  color: #ff6666;
}
#tweets .reload_tweet {
  color: #444;
  cursor: pointer;
  text-decoration: underline;
}
#tweets .time {
  font-size: 11px;
  color: #666;
}
/*tweetbox end*/


/*carousel start*/
#carousel {
  position: absolute;
  top: 250px;
  left: 410px;
}
#slider {
  width:326px; /* Change this to your images width */
  height:266px; /* Change this to your images height */
  background:url(/images/nivo/loading.gif) no-repeat 50% 50%;
}
#slider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
#slider a {
  border:0;
  display:block;
}
.nivo-controlNav {
  position:absolute;
  left:50%;
  bottom:-42px;
}
.nivo-controlNav a { 
  display:block;
  width:22px;
  height:22px;
  background:url(/images/nivo/bullets.png) no-repeat;
  text-indent:-9999px;
  border:0;
  margin-right:3px;
  float:left;
}
.nivo-controlNav a.active {
  background-position:0 -22px;
}
.nivo-directionNav a { 
  display:block;
  width:30px;
  height:30px;
  background:url(/images/nivo/arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
}
a.nivo-nextNav {
  background-position:-30px 0;
  right:15px;
}
a.nivo-prevNav {
  left:15px;
}
/*carousel end*/


/*timeline start*/
#timeline {
  width: 600px;
  height: 4px;
  position: absolute;
  left: 100px;
  bottom: 50px;
  background: brown;
}
#timeline li {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -3px;
  display: block;
  background: red;
  cursor: pointer;
  line-height: 0px;
  font-size: 0px;
  list-style: none;
}
/*timeline end*/


/*members start*/
#member_tags {
  position: absolute;
  left: 50px;
  top: 250px;
}
#member_tags li {
  margin-bottom: 4px;
  padding: 3px;
  color: white;
  cursor: pointer;
}
#member_list {
  width: 590px;
  height: 400px;
}
.member {
  float: left;
  margin: 5px;
  position: relative;
  width: 61px;
  height: 70px;
  border: 1px solid white;
  overflow: hidden;
  cursor: pointer;
}
.member.on {
  border: 1px solid #fcc;
}
.member.disabled {
  opacity: 0.4;
  filter: alpha(opacity=40); /* IE lt 8 */
  -ms-filter: "alpha(opacity=40)"; /* IE 8 */
  -khtml-opacity: .40; /* Safari 1.x */
  -moz-opacity: .40; /* FF lt 1.5, Netscape */
}
.member_thumb {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
}
.member .name {
  width: 61px;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 0;
  text-align: center;
  font-size: 11px;
}
.member .tagbars {
  position: absolute;
  top: 63px;
  left: 2px;
}
.member .tagbar {
  width: 5px;
  height: 7px;
  display: block;
  float: left;
  margin-right: 2px;
  font-size: 7px;
  line-height: 7px;
  overflow: hidden;
}
.member_popup {
  width: 700px;
  height: 500px;
  letter-spacing: -1px;
  color: #222;
  background: white;
}
.member_popup a {
  text-decoration: none;
  color: #579;
}
.member_popup .profile {
  width: 230px;
  height: 480px;
  margin-top: 10px;
  position: relative;
  margin-left: 30px;
  float: left;
}
.member_popup .profile img {
  position: absolute;
  left: 0;
  top: 0;
}
.member_popup .text_content {
  margin-left: 280px;
  padding-top: 30px;
}
.member_popup .name_eng {
  margin-bottom: 5px;
  display: block;
  font-size: 30px;
}
.member_popup .name {
  margin-left: 5px;
  font-size: 20px;
}
.member_popup .school {
  color: #aaa;
}
.member_popup .comment {
  width: 300px;
  margin: 15px;
  font-size: 15px;
  font-style: italic;
  color: #888;
}
.member_popup dt {
  margin-bottom: 3px;
  color: #aaa;
  font-weight: bold;
}
.member_popup dd {
  margin-left: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}
.member_popup .skills li {
  width: 302px;
  height: 15px;
  line-height: 13px;
  position: relative;
  margin: 8px 0px;
  border: 1px solid #ccc;
  background: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
}
.member_popup .skill_label {
  position: absolute;
  left: 5px;
  z-index: 2;
  color: #fff;
  padding-top: 2px;
  line-height: 11px;
}
.member_popup .skill_bar {
  width: 0px;
  height: 13px;
  position: absolute;
  left: 1px;
  margin-top: 1px;
  z-index: 1;
  line-height: 13px;
  background: #7a3857;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.member_popup .nav div {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 230px;
  cursor: pointer;
}
.member_popup .nav .prev {
  left: 0px;
  background: url(/images/colorbox/arrows.png) no-repeat;
}
.member_popup .nav .next{
  right: 0px;
  background: url(/images/colorbox/arrows.png) no-repeat -30px;
}
.member_popup .nav .disabled{
  cursor: default;
  opacity: 0.4;
  filter: alpha(opacity=40); /* IE lt 8 */
  -ms-filter: "alpha(opacity=40)"; /* IE 8 */
  -khtml-opacity: .40; /* Safari 1.x */
  -moz-opacity: .40; /* FF lt 1.5, Netscape */
}
/*members end*/


/*contact form start*/
#new_contact {
  width: 565px;
}
form label {
  display: block;
  line-height: 2em;
  margin: 0.2em 0 0 0.5em;
  letter-spacing: -1px;
}
form div.text_fields {
  float: left;
}
form div.text_area {
  float: right;
}
form .text_input_wrapper {
  width: 265px;
  height: 30px;
  font-size: 18px;
  background: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form .text_area_wrapper {
  width: 265px;
  background: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form .text_input_wrapper .text_input {
  width: 96%;
  height: 20px;
  margin-top: 5px;
  padding: 0;
  border: 0;
  margin-left: 2%;
  background: transparent;
  font-size: 15px;
}
form textarea {
  width: 96%;
  height: 95px;
  margin: 5px 2%;
  background: transparent;
  height: 95px;
  background: #ccc;
  border: 0;
}
#contact_submit {
  display: block;
}
/*contact form end*/
