/*overall style start*/
body{
  font-family: 나눔고딕, NanumGothic, 돋움, dotum;
  font-size: 12px;
  background: #aeafa0;
}
/*overall style end*/


/*overall layout start*/
#container {
  width: 870px;
  margin: 0px auto;
  background: url(/images/backgrounds/whole_bg.png) no-repeat;
}
section {
  height: 600px;
  position: relative;
  margin-bottom: 100px;
  margin: 0px 35px;
}
section article {
  margin-left: 200px;
}
/*overall layout end*/


/*navication start*/
nav.navigation {
  width: 160px;
  position: absolute;
  top: 100px;
  left: 28px;
  border: 1px solid #aaa;
}
nav.navigation ul {
  margin: 0.5em 0em 0.5em 1em;
}
nav.navigation li a {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.4em;
  font-family: 'Raleway';
  cursor: pointer;
}
/*navication end*/


/*home section start*/
#home {
}
#home h1 {
	width: 346px;
	height: 73px;
	text-indent: -9999px;
	background: url(/images/logo.png) no-repeat;
	position: absolute;
	top: 13px;
	right: 18px;
}
#home h2 {
	width: 219px;
	height: 113px;
	position: absolute;
	right: 22px;
	top: 85px;
	background: url(/images/sub_logo.png) no-repeat;
	text-indent: -9999px;
}
#home nav.navigation {
	top: 48px;
	border: 1px solid rgba(255,255,255,0.15);
	background: rgba(205,205,205,0.06);
}
#home nav.navigation li a {
	color: #6d6d6d;
}
#home nav.navigation li a.hover {
	color: white;
}
/*home section start*/


/*tweetbox start*/
#tweetbox {
  width: 340px;
  position: absolute;
  top: 235px;
  left: 60px;
}
#tweetbox h3 {
	font-size: 22px;
	color: #90d1fb;
	text-decoration: none;
	margin-top: 13px;
	margin-bottom: 15px;
}
#follow_us {
	display: block;
	width: 127px;
	height: 43px;
	background: url(/images/buttons/follow_us.gif) no-repeat;
	position: absolute;
	right: 5px;
	top: 0px;
}
.tweet {
  margin: 1em 0;
  color: #555;
	line-height: 1.2em;
}
#tweets .loading {
  height: 16px;
  margin: 1em;
  padding-left: 16px;
  display: block;
  background: url(/images/tweet-loader.gif) no-repeat;
}
#tweets .failed {
  margin: 1em;
  color: #ff6666;
}
#tweets .reload_tweet {
  color: #444;
  cursor: pointer;
  text-decoration: underline;
}
#tweets .time {
  font-size: 11px;
  color: #999;
}
#tweets .tweet_text a {
	color: #2276BB;
}
/*tweetbox end*/


/*carousel start*/
#carousel {
  position: absolute;
  top: 240px;
  left: 410px;
}
#slider {
  width:355px; /* Change this to your images width */
  height:287px; /* Change this to your images height */
  background:url(/images/nivo/loading.gif) no-repeat 50% 50%;
}
#slider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
#slider a {
  border:0;
  display:block;
}
.nivo-controlNav {
  position:absolute;
  left:50%;
  bottom:-42px;
}
.nivo-controlNav a { 
  display:block;
  width:22px;
  height:22px;
  background:url(/images/nivo/bullets.png) no-repeat;
  text-indent:-9999px;
  border:0;
  margin-right:3px;
  float:left;
}
.nivo-controlNav a.active {
  background-position:0 -22px;
}
.nivo-directionNav a { 
  display:block;
  width:30px;
  height:30px;
  background:url(/images/nivo/arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
}
a.nivo-nextNav {
  background-position:-30px 0;
  right:15px;
}
a.nivo-prevNav {
  left:15px;
}
/*carousel end*/


#about_us {
	margin-top: 70px;
}


/*timeline start*/
#timeline {
  width: 600px;
  height: 4px;
  position: absolute;
  left: 100px;
  bottom: 50px;
  background: brown;
}
#timeline li {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -3px;
  display: block;
  background: white;
  cursor: pointer;
  line-height: 0px;
  font-size: 0px;
  list-style: none;
}
/*timeline end*/


/*members start*/
#members {
	margin-top: 200px;
	height: 650px;
}
#member_tags {
  position: absolute;
  left: 50px;
  top: 250px;
}
#member_tags li {
  margin-bottom: 4px;
  padding: 3px;
  color: white;
  cursor: pointer;
}
#member_list {
  width: 590px;
  height: 400px;
}
.member {
  float: left;
  margin: 5px;
  position: relative;
  width: 61px;
  height: 70px;
  border: 1px solid white;
  overflow: hidden;
  cursor: pointer;
}
.member.on {
  border: 1px solid #fcc;
}
.member.disabled {
  opacity: 0.4;
  filter: alpha(opacity=40); /* IE lt 8 */
  -ms-filter: "alpha(opacity=40)"; /* IE 8 */
  -khtml-opacity: .40; /* Safari 1.x */
  -moz-opacity: .40; /* FF lt 1.5, Netscape */
}
.member_thumb {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
}
.member .name {
  width: 61px;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 0;
  text-align: center;
  font-size: 11px;
}
.member .tagbars {
  position: absolute;
  top: 63px;
  left: 2px;
}
.member .tagbar {
  width: 5px;
  height: 7px;
  display: block;
  float: left;
  margin-right: 2px;
  font-size: 7px;
  line-height: 7px;
  overflow: hidden;
}
.member_popup {
  width: 700px;
  height: 550px;
  letter-spacing: -1px;
  color: #222;
  background: white;
}
.member_popup a {
  text-decoration: none;
  color: #579;
}
.member_popup .profile {
  width: 230px;
  height: 480px;
  margin-top: 45px;
  margin-left: 30px;
  float: left;
  text-align: center;
}
.member_popup .text_content {
  margin-left: 280px;
  padding-top: 30px;
}
.member_popup .name_eng {
  margin-bottom: 5px;
  display: block;
  font-size: 30px;
}
.member_popup .name {
  margin-left: 5px;
  font-size: 20px;
}
.member_popup .school {
  color: #aaa;
}
.member_popup .comment {
  width: 300px;
  margin: 15px;
  font-size: 15px;
  font-style: italic;
  color: #888;
}
.member_popup .resume {
  height: 20px;
  padding-left: 23px;
  display: block;
  background: url(/images/pdf.png) no-repeat;
  line-height: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.member_popup dt {
  margin-bottom: 3px;
  color: #aaa;
  font-weight: bold;
}
.member_popup dd {
  margin-left: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}
.member_popup .skills li {
  width: 302px;
  height: 15px;
  line-height: 13px;
  position: relative;
  margin: 8px 0px;
  border: 1px solid #ccc;
  background: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
}
.member_popup .skill_label {
  position: absolute;
  left: 5px;
  z-index: 2;
  color: #fff;
  padding-top: 2px;
  line-height: 11px;
}
.member_popup .skill_bar {
  width: 0px;
  height: 13px;
  position: absolute;
  left: 1px;
  margin-top: 1px;
  z-index: 1;
  line-height: 13px;
  background: #7a3857;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.member_popup .projects {
  height: 80px;
}
.member_popup .projects li {
  width: 95px;
  height: 75px;
  position: relative;
  background: #ccc;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.member_popup .projects img {
  margin-left: 5px;
  margin-top: 5px;
}
.member_popup .projects .caption {
  width: 85px;
  height: 15px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  line-height: 15px;
  text-align: center;
  background: rgba(0,0,0,0.7);
  color: white;
  font-size: 11px;
}
.member_popup .nav div {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 250px;
  cursor: pointer;
}
.member_popup .nav .prev {
  left: 0px;
  background: url(/images/colorbox/arrows.png) no-repeat;
}
.member_popup .nav .next{
  right: 0px;
  background: url(/images/colorbox/arrows.png) no-repeat -30px;
}
.member_popup .nav .disabled{
  cursor: default;
  opacity: 0.4;
  filter: alpha(opacity=40); /* IE lt 8 */
  -ms-filter: "alpha(opacity=40)"; /* IE 8 */
  -khtml-opacity: .40; /* Safari 1.x */
  -moz-opacity: .40; /* FF lt 1.5, Netscape */
}
/*members end*/


/*project start*/
#projects {
	margin-top: 320px;
}
.project {
  float: left;
}
.project_popup {
  width: 850px;
  height: 550px;
}
.project_popup .name {
  margin-top: 20px;
  margin-left: 30px;
  display: block;
  font-size: 30px;
}
.project_popup .images {
  width: 424px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 10px;
  float: left;
  background: #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.project_popup .screenshots {
  width: 400px;
  height: 314px;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}
.project_popup .screenshots li {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.project_popup .screenshots img {
  border: 2px solid #888;
}
.project_popup .thumbnails {
  height: 100px;
  position: relative;
  margin: 0px 0px 10px 10px;
}
.project_popup .thumbnails li {
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.project_popup .thumbnails img {
  border: 4px solid #888;
}
.project_popup .thumbnails li.cur img {
  border-color: #c88;
}
.project_popup .text_content {
  margin-right: 40px;
}
.project_popup .members {
  height: 80px;
}
.project_popup .members li {
  width: 71px;
  height: 71px;
  position: relative;
  background: #ccc;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.project_popup .members img {
  margin-left: 5px;
  margin-top: 5px;
}
.project_popup .members .caption {
  width: 61px;
  height: 15px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  line-height: 15px;
  text-align: center;
  background: rgba(0,0,0,0.7);
  color: white;
  font-size: 11px;
}
.project_popup .nav div {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 250px;
  cursor: pointer;
}
.project_popup .nav .prev {
  left: 0px;
  background: url(/images/colorbox/arrows.png) no-repeat;
}
.project_popup .nav .next{
  right: 0px;
  background: url(/images/colorbox/arrows.png) no-repeat -30px;
}
.project_popup .nav .disabled{
  cursor: default;
  opacity: 0.4;
  filter: alpha(opacity=40); /* IE lt 8 */
  -ms-filter: "alpha(opacity=40)"; /* IE 8 */
  -khtml-opacity: .40; /* Safari 1.x */
  -moz-opacity: .40; /* FF lt 1.5, Netscape */
}
/*project end*/


/*contact form start*/
#contact {
	margin-top: 55px;
}
#new_contact {
  width: 565px;
}
form label {
  display: block;
  line-height: 2em;
  margin: 0.2em 0 0 0.5em;
  letter-spacing: -1px;
}
form div.text_fields {
  float: left;
}
form div.text_area {
  float: right;
}
form .text_input_wrapper {
  width: 265px;
  height: 30px;
  font-size: 18px;
  background: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form .text_area_wrapper {
  width: 265px;
  background: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form .text_input_wrapper .text_input {
  width: 96%;
  height: 20px;
  margin-top: 5px;
  padding: 0;
  border: 0;
  margin-left: 2%;
  background: transparent;
  font-size: 15px;
}
form textarea {
  width: 96%;
  height: 95px;
  margin: 5px 2%;
  background: transparent;
  height: 95px;
  background: #ccc;
  border: 0;
}
#contact_submit {
  display: block;
}
/*contact form end*/
footer {
  margin-top: -8px;
  height: 425px;
  background: url(/images/footer.png) no-repeat;
}
