/*overall style start*/
body{
  font-family: 나눔고딕, NanumGothic, 돋움, dotum;
  font-size: 12px;
  background: #aeafa0 url(/images/backgrounds/bg_pattern.jpg) center top;
}
/*overall style end*/


/*overall layout start*/
#container {
  width: 870px;
  margin: 0px auto;
  background: url(/images/backgrounds/whole_bg.png) no-repeat;
}
section {
  height: 600px;
  position: relative;
  margin-bottom: 100px;
  margin: 0px 35px;
}
section article {
  margin-left: 200px;
}
/*overall layout end*/


/*navication common start*/
nav.navigation {
  width: 160px;
  position: absolute;
  top: 100px;
  left: 28px;
  border: 1px solid #aaa;
}
nav.navigation ul {
  margin: 0.5em 0em 0.5em 1em;
}
nav.navigation li a {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.4em;
  font-family: 'PT Sans';
  cursor: pointer;
  text-decoration: none;
}
/*navication common end*/


/*home section start*/
#home {
}
#home h1 {
	position: absolute;
	top: 13px;
	right: 18px;
}
#home h1 a {
	width: 346px;
	height: 73px;
	display: block;
	text-indent: -9999px;
	background: url(/images/logo.png) no-repeat;
}
#home h2 {
	width: 219px;
	height: 113px;
	position: absolute;
	right: 22px;
	top: 85px;
	background: url(/images/sub_logo.png) no-repeat;
	text-indent: -9999px;
}
#home nav.navigation {
	top: 48px;
	border: 1px solid #434343;
	background: url(/images/backgrounds/white_bg.png);
}
#home nav.navigation li a {
	color: #6d6d6d;
}
#home nav.navigation li a.hover {
	color: white;
}
	/*tweet box*/
#tweetbox {
  width: 340px;
  position: absolute;
  top: 235px;
  left: 60px;
}
#tweetbox h3 {
	font-size: 22px;
	color: #90d1fb;
	text-decoration: none;
	margin-top: 13px;
	margin-bottom: 15px;
	font-family: Courier, monospace;
	font-weight: bold;
	letter-spacing: -1px;
}
#follow_us {
	display: block;
	width: 127px;
	height: 43px;
	background: url(/images/buttons/follow_us.gif) no-repeat;
	position: absolute;
	right: 5px;
	top: 0px;
}
.tweet {
	padding: 5px 0px;
	border-top: 1px dashed #ccc;
  color: #555;
	line-height: 1.2em;
}
#tweets .loading {
  height: 16px;
  margin: 1em;
  padding-left: 16px;
  display: block;
  background: url(/images/tweet-loader.gif) no-repeat;
}
#tweets .failed {
  margin: 1em;
  color: #ff6666;
}
#tweets .reload_tweet {
  color: #444;
  cursor: pointer;
  text-decoration: underline;
}
#tweets .time {
  font-size: 11px;
  color: #999;
}
#tweets .tweet_text a {
	color: #2276BB;
}
	/*carousel*/
#carousel {
  position: absolute;
  top: 240px;
  left: 410px;
}
#slider {
  width:355px; /* Change this to your images width */
  height:287px; /* Change this to your images height */
  background:url(/images/nivo/loading.gif) no-repeat 50% 50%;
}
#slider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
#slider a {
  border:0;
  display:block;
}
.nivo-controlNav {
  position:absolute;
  left:50%;
  bottom:-42px;
}
.nivo-controlNav a { 
  display:block;
  width:22px;
  height:22px;
  background:url(/images/nivo/bullets.png) no-repeat;
  text-indent:-9999px;
  border:0;
  margin-right:3px;
  float:left;
}
.nivo-controlNav a.active {
  background-position:0 -22px;
}
.nivo-directionNav a { 
  display:block;
  width:30px;
  height:30px;
  background:url(/images/nivo/arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
}
a.nivo-nextNav {
  background-position:-30px 0;
  right:15px;
}
a.nivo-prevNav {
  left:15px;
}
/*home sectionend*/


/*about us section start*/
#about_us {
	margin-top: 70px;
	height: 630px;
}
#about_us h1 {
	width: 396px;
	height: 267px;
	background: url(/images/about_us.png) no-repeat;
	position: absolute;
	right: 25px;
	top: 15px;
	text-indent: -9999px;
}
#about_us nav.navigation {
	top: 150px;
	border: 1px solid #9d3329;
	background: url(/images/backgrounds/white_bg.png);
}
#about_us nav.navigation li a {
	color: #272727;
}
#about_us nav.navigation li a.active {
	color: #dbb;
}
#about_us nav.navigation li a.hover {
	color: white;
}
#about_us article {
	color: white;
}
#about_us h2 {
	font-size: 30px;
	position: absolute;
	top: 185px;
	right: 220px;
	font-style: italic;
}
#about_us h3 {
	position: absolute;
	font-size: 14px;
	top: 225px;
	right: 220px;
	text-align: right;
	line-height: 1.5em;
}
#about_us_body {
	position: absolute;
	top: 320px;
	left: 40px;
}
#about_us_body li {
	width: 225px;
	float: left;
	margin-right: 25px;
}
#about_us_body h4 {
	font-size: 18px;
	letter-spacing: -1px;
	margin-bottom: 1em;
}
#about_us_body p {
	line-height: 1.7em;
	font-size: 12px;
	text-align: justify;
}
	/*timeline*/
#timeline {
  width: 671px;
  height: 25px;
  position: absolute;
  left: 65px;
  bottom: 0px;
  background: url(/images/backgrounds/timeline_bg.png) no-repeat;
}
#timeline li {
  width: 14px;
  height: 14px;
  position: absolute;
  top: -5px;
  display: block;
  background: url(/images/icons/timeline_entry.png) no-repeat;
  cursor: pointer;
  line-height: 0px;
  font-size: 0px;
  list-style: none;
}
/*about us section end*/


/*members section start*/
#members {
	margin-top: 200px;
	height: 650px;
}
#members h1 {
	width: 453px;
	height: 86px;
	background: url(/images/members.png) no-repeat;
	position: absolute;
	left: 30px;
	top: 5px;
	text-indent: -9999px;
}
#members nav.navigation {
	top: 150px;
	border: 1px solid #bfbbb6;
	background: url(/images/backgrounds/white_bg.png);
}
#members nav.navigation li a {
	color: #272727;
}
#members nav.navigation li a.active {
	color: #eb0205;
}
#members nav.navigation li a.hover {
	color: #a66;
}
#member_tags {
  position: absolute;
  left: 40px;
  top: 310px;
}
#member_tags li {
  margin-bottom: 6px;
  padding: 3px 6px;
  color: white;
  cursor: pointer;
  float: left;
  clear: left;
  font-size: 13px;
}
#member_list {
  width: 590px;
  height: 400px;
  position: absolute;
  top: 145px;
}
.member {
  float: left;
  margin: 5px;
  position: relative;
  width: 61px;
  height: 70px;
  border: 1px solid white;
  overflow: hidden;
  cursor: pointer;
}
.member.on {
  /*border: 1px solid #fcc;*/
}
.member.disabled {
/*
  opacity: 0.4;
  filter: alpha(opacity=40);
	-ms-filter: “progid:DXImageTransform.Microsoft.Alpha(Opacity=40)”
  -khtml-opacity: .40;
  -moz-opacity: .40;
*/
}
.member_thumb {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
}
.member .name {
  width: 61px;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 0;
  text-align: center;
  font-size: 11px;
}
.member .tagbars {
  position: absolute;
  top: 63px;
  left: 2px;
}
.member .tagbar {
  width: 7px;
  height: 7px;
  display: block;
  float: left;
  margin-right: 1px;
  font-size: 7px;
  line-height: 7px;
  overflow: hidden;
}
.member_popup {
  width: 700px;
  height: 550px;
  letter-spacing: -1px;
  color: #222;
  background: white;
}
.member_popup a {
  text-decoration: none;
  color: #579;
}
.member_popup .profile {
  width: 230px;
  height: 480px;
  margin-top: 45px;
  margin-left: 30px;
  float: left;
  text-align: center;
}
.member_popup .text_content {
  margin-left: 280px;
  padding-top: 30px;
}
.member_popup .name_eng {
  margin-bottom: 5px;
  display: block;
  font-size: 30px;
}
.member_popup .name {
  margin-left: 5px;
  font-size: 20px;
}
.member_popup .school {
  color: #aaa;
}
.member_popup .comment {
  width: 300px;
  margin: 15px;
  font-size: 15px;
  font-style: italic;
  color: #888;
}
.member_popup .resume {
  height: 20px;
  padding-left: 23px;
  display: block;
  background: url(/images/pdf.png) no-repeat;
  line-height: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.member_popup dt {
  margin-bottom: 3px;
  color: #aaa;
  font-weight: bold;
}
.member_popup dd {
  margin-left: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}
.member_popup .skills li {
  width: 302px;
  height: 15px;
  line-height: 13px;
  position: relative;
  margin: 8px 0px;
  border: 1px solid #ccc;
  background: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
}
.member_popup .skill_label {
  position: absolute;
  left: 5px;
  z-index: 2;
  color: #fff;
  padding-top: 2px;
  line-height: 11px;
}
.member_popup .skill_bar {
  width: 0px;
  height: 13px;
  position: absolute;
  left: 1px;
  margin-top: 1px;
  z-index: 1;
  line-height: 13px;
  background: #7a3857;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.member_popup .projects {
  height: 80px;
}
.member_popup .projects li {
  width: 95px;
  height: 75px;
  position: relative;
  background: #ccc;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.member_popup .projects img {
  margin-left: 5px;
  margin-top: 5px;
}
.member_popup .projects .caption {
  width: 85px;
  height: 15px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  line-height: 15px;
  text-align: center;
	background: url(/images/backgrounds/black_bg.png);
  color: white;
  font-size: 11px;
}
.member_popup .nav div {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 250px;
  cursor: pointer;
}
.member_popup .nav .prev {
  left: 0px;
  background: url(/images/colorbox/arrows.png) no-repeat;
}
.member_popup .nav .next{
  right: 0px;
  background: url(/images/colorbox/arrows.png) no-repeat -30px;
}
.member_popup .nav .disabled{
  cursor: default;
  opacity: 0.4;
  filter: alpha(opacity=40); /* IE lt 8 */
  -ms-filter: "alpha(opacity=40)"; /* IE 8 */
  -khtml-opacity: .40; /* Safari 1.x */
  -moz-opacity: .40; /* FF lt 1.5, Netscape */
}
/*members section end*/


/*project section start*/
#projects {
	margin-top: 320px;
	/*background: url(/images/backgrounds/dev_process.png) no-repeat 50% 410px;*/
}
#projects h1 {
	width: 281px;
	height: 86px;
	text-indent: -9999px;
	background: url(/images/projects.png) no-repeat;
	position: absolute;
	top: 18px;
	right: 28px;
}
#projects nav.navigation {
	top: 20px;
	border: 1px solid #4e361a;
	background: url(/images/backgrounds/white_bg.png);
}
#projects nav.navigation li a {
	color: #7a604c;
}
#projects nav.navigation li a.active {
	color: #bfb6a3;
}
#projects nav.navigation li a.hover {
	color: white;
}
.project {
  float: left;
}
#project_list {
	position: absolute;
	top: 240px;
	left: 50%;
	margin-left: -325px;
	width: 650px;
	height: 300px;
}
#project_list li {
	width: 600px;
	height: 300px;
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
	box-shadow:0 0 10px #000;
}
.project_popup {
  width: 850px;
  height: 550px;
}
.project_popup .name {
  margin-top: 20px;
  margin-left: 30px;
  display: block;
  font-size: 30px;
}
.project_popup .images {
  width: 424px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 10px;
  float: left;
  background: #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.project_popup .screenshots {
  width: 400px;
  height: 314px;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}
.project_popup .screenshots li {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.project_popup .screenshots img {
  border: 2px solid #888;
}
.project_popup .thumbnails {
  height: 100px;
  position: relative;
  margin: 0px 0px 10px 10px;
}
.project_popup .thumbnails li {
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.project_popup .thumbnails img {
  border: 4px solid #888;
}
.project_popup .thumbnails li.cur img {
  border-color: #c88;
}
.project_popup .text_content {
  margin-right: 40px;
}
.project_popup .members {
  height: 80px;
}
.project_popup .members li {
  width: 71px;
  height: 71px;
  position: relative;
  background: #ccc;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.project_popup .members img {
  margin-left: 5px;
  margin-top: 5px;
}
.project_popup .members .caption {
  width: 61px;
  height: 15px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  line-height: 15px;
  text-align: center;
	background: url(/images/backgrounds/black_bg.png);
  color: white;
  font-size: 11px;
}
.project_popup .nav div {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 250px;
  cursor: pointer;
}
.project_popup .nav .prev {
  left: 0px;
  background: url(/images/colorbox/arrows.png) no-repeat;
}
.project_popup .nav .next{
  right: 0px;
  background: url(/images/colorbox/arrows.png) no-repeat -30px;
}
.project_popup .nav .disabled{
  cursor: default;
  opacity: 0.4;
  filter: alpha(opacity=40); /* IE lt 8 */
  -ms-filter: "alpha(opacity=40)"; /* IE 8 */
  -khtml-opacity: .40; /* Safari 1.x */
  -moz-opacity: .40; /* FF lt 1.5, Netscape */
}
/*projects section end*/


/*contact section start*/
#contact {
	margin-top: 55px;
	height: 389px;
}
#contact h1 {
	width: 281px;
	height: 67px;
	text-indent: -9999px;
	background: url(/images/contact.png) no-repeat;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -140px;
}
#contact h2 {
	width: 345px;
	height: 35px;
	text-indent: -9999px;
	background: url(/images/sub_contact.png) no-repeat;
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -172px;
}
#contact nav.navigation {
	top: 150px;
	border: 1px solid #233245;
	background: url(/images/backgrounds/white_bg.png);
}
#contact  nav.navigation li a {
	color: #596b79;
}
#contact  nav.navigation li a.active {
	color: #a9b7c2;
}
#contact nav.navigation li a.hover {
	color: white;
}
#new_contact {
  width: 565px;
  position: absolute;
  top: 140px;
  left: 210px;
}
form label {
  display: block;
  line-height: 2em;
  margin: 0.2em 0 0 0.5em;
  letter-spacing: 0px;
  font-size: 14px;
  color: #cfcfcf;
}
form em {
	color: #ff5555;
	font-style: normal;
}
form div.text_fields {
  float: left;
}
form div.text_area {
  float: right;
}
form .text_input_wrapper {
  width: 265px;
  height: 30px;
  font-size: 18px;
  background: #021732;
  border: 1px solid #344356;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form .text_area_wrapper {
  width: 265px;
  background: #021732;
  border: 1px solid #344356;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form .text_input_wrapper .text_input {
  width: 96%;
  height: 20px;
  margin-top: 5px;
  padding: 0;
  border: 0;
  margin-left: 2%;
  background: transparent;
  font-size: 15px;
  color: white;
}
form textarea {
  color: white;
  width: 96%;
  height: 75px;
  margin: 5px 3px;
  background: transparent;
  border: 0;
  overflow: auto;
}
#contact_submit {
  display: block;
  margin-top: 18px;
  background: #5a6f4a;
  color: #e0dbce;
  height: 40px;
  border: 0;
  width: 100%;
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
#contact_submit.hover {
	background: #728A60;
}
#contact_submit.sending {
	color: white;
	background: #A5B897 url('/images/contact_submit_loader.gif') no-repeat 75px 50%;
}
/*contact section end*/
footer {
  height: 425px;
	background: url(/images/backgrounds/waffle.png) no-repeat center top;
}
/*image loader*/
#invisible {
	background: url('/images/contact_submit_loader.gif');
  background: url(/images/tweet-loader.gif);
  background: url(/images/pdf.png);
  background: url(/images/colorbox/arrows.png);
}
#top {
	position: fixed;
	bottom: 20px;
	width: 59px;
	height: 59px;
	background: url(/images/buttons/top.png) no-repeat 0px -59px;
	text-indent: -9999px;
	display: block;
	left: 50%;
}
#top.hover {
	background: url(/images/buttons/top.png) no-repeat;
}
