/*overall style start*/
body{
  font-size: 12px;
}
/*overall style end*/


/*overall layout start*/
#container {
  width: 800px;
  margin: 0px auto;
  border: 1px solid #ddd;

}
section {
  height: 600px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
section article {
  margin-left: 200px;
}
/*overall layout end*/


/*navication start*/
nav.navigation {
  width: 160px;
  position: absolute;
  top: 100px;
  left: 20px;
  border: 1px solid #aaa;
}
nav.navigation ul {
  margin: 0.5em 0em 0.5em 1em;
}
nav.navigation li a {
  font-size: 22px;
  letter-spacing: -2px;
  line-height: 1.3em;
}
/*navication end*/


/*home section start*/
#home {
  background: #bbcad2;
}
/*home section start*/


/*tweetbox start*/
#tweetbox {
  width: 300px;
  position: absolute;
  top: 310px;
  left: 50px;
}
#tweetbox h2{
  font-size: 15px;
}
.tweet {
  margin: 1em;
}
#tweets .loading {
  height: 16px;
  margin: 1em;
  padding-left: 16px;
  display: block;
  background: url(/images/tweet-loader.gif) no-repeat;
}
#tweets .failed {
  margin: 1em;
  color: #ff6666;
}
#tweets .reload_tweet {
  color: #444;
  cursor: pointer;
  text-decoration: underline;
}
#tweets .time {
  font-size: 11px;
  color: #666;
}
/*tweetbox end*/


/*carousel start*/
#carousel {
  position: absolute;
  top: 250px;
  left: 410px;
}
#slider {
  width:326px; /* Change this to your images width */
  height:266px; /* Change this to your images height */
  background:url(/images/loading.gif) no-repeat 50% 50%;
}
#slider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
#slider a {
  border:0;
  display:block;
}
.nivo-controlNav {
  position:absolute;
  left:50%;
  bottom:-42px;
}
.nivo-controlNav a { 
  display:block;
  width:22px;
  height:22px;
  background:url(/images/bullets.png) no-repeat;
  text-indent:-9999px;
  border:0;
  margin-right:3px;
  float:left;
}
.nivo-controlNav a.active {
  background-position:0 -22px;
}
.nivo-directionNav a { 
  display:block;
  width:30px;
  height:30px;
  background:url(/images/arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
}
a.nivo-nextNav {
  background-position:-30px 0;
  right:15px;
}
a.nivo-prevNav {
  left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
    color:#efe9d1;
    text-decoration:underline;
}
/*carousel end*/


/*timeline start*/
#timeline {
  width: 600px;
  height: 4px;
  position: absolute;
  left: 100px;
  bottom: 50px;
  background: brown;
}
#timeline li {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -3px;
  display: block;
  background: red;
  cursor: pointer;
  line-height: 0px;
  font-size: 0px;
  list-style: none;
}
/*timeline end*/


/*contact form start*/
#new_contact {
  width: 565px;
}
form label {
  display: block;
  line-height: 2em;
  margin: 0.2em 0 0 0.5em;
  letter-spacing: -1px;
}
form div.text_fields {
  float: left;
}
form div.text_area {
  float: right;
}
form .text_input_wrapper {
  width: 265px;
  height: 30px;
  font-size: 18px;
  background: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form .text_area_wrapper {
  width: 265px;
  background: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form .text_input_wrapper .text_input {
  width: 96%;
  height: 20px;
  margin-top: 5px;
  padding: 0;
  border: 0;
  margin-left: 2%;
  background: transparent;
  font-size: 15px;
}
form textarea {
  width: 96%;
  height: 95px;
  margin: 5px 2%;
  background: transparent;
  height: 95px;
  background: #ccc;
  border: 0;
}
#contact_submit {
  display: block;
}
/*contact form end*/
