#container {
  width: 800px;
  margin: 0px auto;
  border: 1px solid #ddd;

}
section {
  height: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
nav.navigation {
  width: 160px;
  position: absolute;
  top: 100px;
  left: 20px;
  border: 1px solid #aaa;
}
nav.navigation ul {
  margin: 0.5em 0em 0.5em 1em;
}
nav.navigation li a {
  font-size: 22px;
  letter-spacing: -2px;
  line-height: 1.3em;
}
section article {
  margin-left: 200px;
}

#new_contact {
  width: 565px;
}
form label {
  display: block;
  line-height: 2em;
  margin: 0.2em 0 0 0.5em;
  letter-spacing: -1px;
}
form div.text_fields {
  float: left;
}
form div.text_area {
  float: right;
}
form .text_input_wrapper {
  width: 265px;
  height: 30px;
  font-size: 18px;
  background: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form .text_area_wrapper {
  width: 265px;
  background: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
form .text_input_wrapper .text_input {
  width: 96%;
  height: 20px;
  margin-top: 5px;
  padding: 0;
  border: 0;
  margin-left: 2%;
  background: transparent;
  font-size: 15px;
}
form textarea {
  width: 96%;
  height: 95px;
  margin: 5px 2%;
  background: transparent;
  height: 95px;
  background: #ccc;
  border: 0;
}
#contact_submit {
  display: block;
}
