<% content_for(:title){"프로젝트 관리"} %>
<p><%= flash[:notice] %></p>
<%= link_to image_tag('admin/add-icon.gif')+"새 프로젝트", new_admin_project_path %>
<div class="table">
	<img src="/images/admin/bg-th-left.gif" width="8" height="7" alt="" class="left" />
	<img src="/images/admin/bg-th-right.gif" width="7" height="7" alt="" class="right" />
<table class="listing" cellpadding="0" cellspacing="0">
  <tr>
    <th class="first">이름</th>
    <th>상태</th>
    <th>수정</th>
    <th class="last">삭제</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, edit_admin_project_path(project) %></td>
    <td><%= project.status %></td>
    <td><%= link_to image_tag('admin/edit-icon.gif'), edit_admin_project_path(project) %></td>
    <td><%= link_to image_tag('admin/hr.gif'), admin_project_url(project), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<div style="clear:both"></div>
<%= link_to image_tag('admin/add-icon.gif')+"새 프로젝트", new_admin_project_path %>
