/*
*= require reset
*= require tipsy
*= require nivo-slider
*= require colorbox
*= require impromptu
*= require slider
*= require aga
*/

/*overall style start*/
body{
  font-family: 나눔고딕, NanumGothic, 돋움, dotum;
  font-size: 12px;
  background: #aeafa0 url(asset-path('backgrounds/bg_pattern.jpg')) center top;
}
/*overall style end*/


/*overall layout start*/
#container {
  width: 870px;
  margin: 0px auto;
  background: url(asset-path('backgrounds/whole_bg.png')) no-repeat;
}
section {
  height: 600px;
  position: relative;
  margin-bottom: 100px;
  margin: 0px 35px;
  article {
    margin-left: 200px;
  }
}
/*overall layout end*/


/*navication common start*/
nav.navigation {
  width: 160px;
  position: absolute;
  top: 100px;
  left: 28px;
  border: 1px solid #aaa;
  ul {
    margin: 0.5em 0em 0.5em 1em;

    li a {
      font-size: 22px;
      letter-spacing: -1px;
      line-height: 1.4em;
      font-family: 'PT Sans';
      cursor: pointer;
      text-decoration: none;
    }
  }
}
/*navication common end*/


/*home section start*/
#home {
  h1 {
    position: absolute;
    top: 13px;
    right: 18px;
    a {
      width: 346px;
      height: 73px;
      display: block;
      text-indent: -9999px;
      background: url(asset-path('logo.png')) no-repeat;
    }
  }
  h2 {
    width: 219px;
    height: 113px;
    position: absolute;
    right: 22px;
    top: 85px;
    background: url(asset-path('sub_logo.png')) no-repeat;
    text-indent: -9999px;
  }
  nav.navigation {
    top: 48px;
    border: 1px solid #434343;
    background: url(asset-path('backgrounds/white_bg.png'));
    li a {
      color: #6d6d6d;
      &.hover {
        color: white;
      }
    }
  }
}
	/*tweet box*/
#tweetbox {
  width: 340px;
  position: absolute;
  top: 235px;
  left: 60px;
  h3 {
    font-size: 22px;
    color: #90d1fb;
    text-decoration: none;
    margin-top: 13px;
    margin-bottom: 15px;
    font-family: Courier, monospace;
    font-weight: bold;
    letter-spacing: -1px;
  }
  #tweets {
    .tweet {
      padding: 5px 0px;
      border-top: 1px dashed #ccc;
      color: #555;
      line-height: 1.2em;
      .tweet_text a {
        color: #2276BB;
      }
      .time {
        font-size: 11px;
        color: #999;
      }
    }
    .loading {
      height: 16px;
      margin: 1em;
      padding-left: 16px;
      display: block;
      background: url(asset-path('tweet-loader.gif')) no-repeat;
    }
    .failed {
      margin: 1em;
      color: #ff6666;
      .reload_tweet {
        color: #444;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
#follow_us {
	display: block;
	width: 127px;
	height: 43px;
	background: url(asset-path('buttons/follow_us.gif')) no-repeat;
	position: absolute;
	right: 5px;
	top: 0px;
}
	/*carousel*/
#carousel {
  position: absolute;
  top: 240px;
  left: 410px;
}
#slider {
  width:355px; /* Change this to your images width */
  height:287px; /* Change this to your images height */
  background:url(asset-path('nivo/loading.gif')) no-repeat 50% 50%;
  img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
  }
  a {
    border:0;
    display:block;
  }
}
.nivo-controlNav {
  position:absolute;
  left:50%;
  bottom:-42px;
  a {
    display:block;
    width:22px;
    height:22px;
    background:url(asset-path('nivo/bullets.png')) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
    &.active {
      background-position:0 -22px;
    }
  }
}
.nivo-directionNav a { 
  display:block;
  width:30px;
  height:30px;
  background:url(asset-path('nivo/arrows.png')) no-repeat;
  text-indent:-9999px;
  border:0;
}
a.nivo-nextNav {
  background-position:-30px 0;
  right:15px;
}
a.nivo-prevNav {
  left:15px;
}
/*home sectionend*/


/*about us section start*/
#about_us {
  margin-top: 70px;
  height: 630px;
  h1 {
    width: 396px;
    height: 267px;
    background: url(asset-path('about_us.png')) no-repeat;
    position: absolute;
    right: 25px;
    top: 15px;
    text-indent: -9999px;
  }
  nav.navigation {
    top: 150px;
    border: 1px solid #9d3329;
    background: url(asset-path('backgrounds/white_bg.png'));
    li a {
      color: #272727;
      &.active {
        color: #dbb;
      }
      &.hover {
        color: white;
      }
    }
  }
  article {
    color: white;
  }
  h2 {
    font-size: 30px;
    position: absolute;
    top: 185px;
    right: 220px;
    font-style: italic;
  }
  h3 {
    position: absolute;
    font-size: 14px;
    top: 225px;
    right: 220px;
    text-align: right;
    line-height: 1.5em;
  }
}
#about_us_body {
	position: absolute;
	top: 320px;
	left: 40px;
  li {
    width: 225px;
    float: left;
    margin-right: 25px;
  }
  h4 {
    font-size: 18px;
    letter-spacing: -1px;
    margin-bottom: 1em;
  }
  p {
    line-height: 1.7em;
    font-size: 12px;
    text-align: justify;
  }
}
	/*timeline*/
#timeline {
  width: 671px;
  height: 25px;
  position: absolute;
  left: 65px;
  bottom: 0px;
  background: url(asset-path('backgrounds/timeline_bg.png')) no-repeat;
  li {
    width: 14px;
    height: 14px;
    position: absolute;
    top: -5px;
    display: block;
    background: url(asset-path('icons/timeline_entry.png')) no-repeat;
    cursor: pointer;
    line-height: 0px;
    font-size: 0px;
    list-style: none;
  }
}
/*about us section end*/


/*members section start*/
#members {
	margin-top: 200px;
  height: 650px;
  h1 {
    width: 453px;
    height: 86px;
    background: url(asset-path('members.png')) no-repeat;
    position: absolute;
    left: 30px;
    top: 5px;
    text-indent: -9999px;
  }
  nav.navigation {
    top: 150px;
    border: 1px solid #bfbbb6;
    background: url(asset-path('backgrounds/white_bg.png'));
    li a {
      color: #272727;
      &.active {
        color: #eb0205;
      }
      &.hover {
        color: #a66;
      }
    }
  }
}
#member_list_toggle {
  position: absolute;
  left: 35px;
  top: 310px;
  li {
    min-width: 120px;
    margin-bottom: 6px;
    padding: 4px 10px;
    color: black;
    cursor: pointer;
    float: left;
    clear: left;
    font-size: 14px;
    background: white;
    box-shadow: 1px 1px 1px black;
  }
}
#member_tags {
  position: absolute;
  left: 40px;
  top: 350px;
  li {
    margin-bottom: 6px;
    padding: 3px 6px;
    color: white;
    cursor: pointer;
    float: left;
    clear: left;
    font-size: 13px;
  }
}
.member_list {
  width: 590px;
  height: 400px;
  position: absolute;
  top: 145px;
  .member {
    float: left;
    margin: 5px;
    position: relative;
    width: 61px;
    height: 70px;
    border: 1px solid white;
    overflow: hidden;
    cursor: pointer;
    .member_thumb {
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 1;
    }
    .name {
      width: 61px;
      position: absolute;
      top: 48px;
      left: 0;
      z-index: 0;
      text-align: center;
      font-size: 11px;
    }
    .tagbars {
      position: absolute;
      top: 63px;
      left: 2px;
      .tagbar {
        width: 7px;
        height: 7px;
        display: block;
        float: left;
        margin-right: 1px;
        font-size: 7px;
        line-height: 7px;
        overflow: hidden;
      }
    }
    &.on {
      /*border: 1px solid #fcc;*/
    }
    &.disabled {
      //opacity: 0.4;
      //filter: alpha(opacity=40);
      //-ms-filter: “progid:DXImageTransform.Microsoft.Alpha(Opacity=40)”
      //-khtml-opacity: .40;
      //-moz-opacity: .40;
    }
  }
}
.member_popup {
  width: 700px;
  height: 550px;
  letter-spacing: -1px;
  color: #222;
  background: white;
  a {
    text-decoration: none;
    color: #579;
  }
  .profile {
    width: 230px;
    height: 480px;
    margin-top: 45px;
    margin-left: 30px;
    float: left;
    text-align: center;
  }
  .text_content {
    margin-left: 280px;
    padding-top: 30px;
  }
  .name_eng {
    margin-bottom: 5px;
    display: block;
    font-size: 30px;
  }
  .name {
    margin-left: 5px;
    font-size: 20px;
  }
  .school {
    color: #aaa;
  }
  .comment {
    width: 300px;
    margin: 15px;
    font-size: 15px;
    font-style: italic;
    color: #888;
  }
  .resume {
    height: 20px;
    padding-left: 23px;
    display: block;
    background: url(asset-path('pdf.png')) no-repeat;
    line-height: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  dt {
    margin-bottom: 3px;
    color: #aaa;
    font-weight: bold;
  }
  dd {
    margin-left: 8px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .skills li {
    width: 302px;
    height: 15px;
    line-height: 13px;
    position: relative;
    margin: 8px 0px;
    border: 1px solid #ccc;
    background: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px;
    .skill_label {
      position: absolute;
      left: 5px;
      z-index: 2;
      color: #fff;
      padding-top: 2px;
      line-height: 11px;
    }
    .skill_bar {
      width: 0px;
      height: 13px;
      position: absolute;
      left: 1px;
      margin-top: 1px;
      z-index: 1;
      line-height: 13px;
      background: #7a3857;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
  }
  .projects {
    height: 80px;
    li {
      width: 95px;
      height: 75px;
      position: relative;
      background: #ccc;
      float: left;
      margin-right: 10px;
      cursor: pointer;
    }
    img {
      margin-left: 5px;
      margin-top: 5px;
    }
    .caption {
      width: 85px;
      height: 15px;
      position: absolute;
      bottom: 5px;
      left: 5px;
      line-height: 15px;
      text-align: center;
      background: url(asset-path('backgrounds/black_bg.png'));
      color: white;
      font-size: 11px;
    }
  }
  .nav {
    div {
      width: 30px;
      height: 40px;
      position: absolute;
      top: 250px;
      cursor: pointer;
    }
    .prev {
      left: 0px;
      background: url(asset-path('colorbox/arrows.png')) no-repeat;
    }
    .next{
      right: 0px;
      background: url(asset-path('colorbox/arrows.png')) no-repeat -30px;
    }
    &.disabled {
      cursor: default;
      opacity: 0.4;
      filter: alpha(opacity=40); /* IE lt 8 */
      -ms-filter: "alpha(opacity=40)"; /* IE 8 */
      -khtml-opacity: .40; /* Safari 1.x */
      -moz-opacity: .40; /* FF lt 1.5, Netscape */
    }
  }
}
/*members section end*/


/*project section start*/
#projects {
  margin-top: 320px;
  /*background: url(/images/backgrounds/dev_process.png) no-repeat 50% 410px;*/
  h1 {
    width: 281px;
    height: 86px;
    text-indent: -9999px;
    background: url(asset-path('projects.png')) no-repeat;
    position: absolute;
    top: 18px;
    right: 28px;
  }
  h2 {
    width: 240px;
    height: 21px;
    text-indent: -9999px;
    background: url(asset-path('sub_projects.png')) no-repeat;
    position: absolute;
    top: 110px;
    right: 28px;
  }
  nav.navigation {
    top: 20px;
    border: 1px solid #4e361a;
    background: url(asset-path('backgrounds/white_bg.png'));
    li a {
      color: #7a604c;
      &.active {
        color: #bfb6a3;
      }
      &.hover {
        color: white;
      }
    }
  }
  .project_overlay {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 23px;
  }
  .project_name {
    font-size: 25px;
    font-weight: bold;
    background: url(asset-path('backgrounds/black_bg.png'));
    color: white;
    padding: 10px 15px;
    float: left;
    margin-bottom: 3px;
  }
  .project_subtitle {
    font-size: 14px;
    background: url(asset-path('backgrounds/black_bg.png'));
    color: white;
    padding: 4px 7px;
    float: left;
    clear: left;
  }
}
.project {
  float: left;
}
#project_list {
  position: absolute;
  top: 242px;
  left: 50%;
  margin-left: -327px;
  width: 650px;
  height: 300px;
  border: 1px solid #492803;
  li {
    width: 600px;
    height: 300px;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    box-shadow:0 0 10px #000;
  }
  .handle {
    left: 0px;
    top: 20px;
    position: absolute;
    color: white;
    width: 16px;
    height: 43px;
    cursor: pointer;
    background: url(asset-path('buttons/view.png'));
  }
}
.project_popup {
  width: 850px;
  height: 515px;
  .header {
    margin: 20px 40px 10px 40px;
    padding: 10px;
    position: relative;
    background: url(asset-path('backgrounds/black_bg.png'));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    a {
      text-decoration: none;
    }
  }
  .name {
    font-size: 25px;
    color: white;
  }
  .images {
    width: 424px;
    margin-left: 40px;
    margin-right: 10px;
    float: left;
    background: #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .screenshots {
    width: 400px;
    height: 314px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    li {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
    img {
      border: 2px solid #888;
    }
  }
  .thumbnails {
    height: 100px;
    position: relative;
    margin: 0px 0px 10px 10px;
    li {
      float: left;
      margin-right: 10px;
      cursor: pointer;
      &.cur img {
        border-color: #c88;
      }
    }
    img {
      border: 4px solid #888;
    }
  }
  .since {
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .right_section {
    margin-left: 474px;
  }
  .description {
    margin-right: 40px;
    height: 250px;
    padding: 10px;
    background: #4c4c4c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    p {
      color: white;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
  .members {
    margin-left: 10px;
    height: 80px;
    li {
      width: 71px;
      height: 71px;
      position: relative;
      background: #ccc;
      float: left;
      margin-right: 10px;
      margin-top: 10px;
      cursor: pointer;
    }
    img {
      margin-left: 5px;
      margin-top: 5px;
    }
    .caption {
      width: 61px;
      height: 15px;
      position: absolute;
      bottom: 5px;
      left: 5px;
      line-height: 15px;
      text-align: center;
      background: url(asset-path('backgrounds/black_bg.png'));
      color: white;
      font-size: 11px;
    }
  }
  .info {
    color: #aaa;
    font-size: 10px;
    margin-top: 3px;
    clear: both;
    display: block;
  }
  .nav {
    div {
      width: 30px;
      height: 40px;
      position: absolute;
      top: 250px;
      cursor: pointer;
    }
    &.prev {
      left: 0px;
      background: url(asset-path('colorbox/arrows.png')) no-repeat;
    }
    &.next{
      right: 0px;
      background: url(asset-path('colorbox/arrows.png')) no-repeat -30px;
    }
    &.disabled{
      cursor: default;
      opacity: 0.4;
      filter: alpha(opacity=40); /* IE lt 8 */
      -ms-filter: "alpha(opacity=40)"; /* IE 8 */
      -khtml-opacity: .40; /* Safari 1.x */
      -moz-opacity: .40; /* FF lt 1.5, Netscape */
    }
  }
}
/*projects section end*/


/*contact section start*/
#contact {
  margin-top: 55px;
  height: 389px;
  h1 {
    width: 281px;
    height: 67px;
    text-indent: -9999px;
    background: url(asset-path('contact.png')) no-repeat;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -140px;
  }
  h2 {
    width: 345px;
    height: 35px;
    text-indent: -9999px;
    background: url(asset-path('sub_contact.png')) no-repeat;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -172px;
  }
  nav.navigation {
    top: 150px;
    border: 1px solid #233245;
    background: url(asset-path('backgrounds/white_bg.png'));
    li a {
      color: #596b79;
      &.active {
        color: #a9b7c2;
      }
      &.hover {
        color: white;
      }
    }
  }
}
#new_contact {
  width: 565px;
  position: absolute;
  top: 140px;
  left: 210px;
}
form {
  label {
    display: block;
    line-height: 2em;
    margin: 0.2em 0 0 0.5em;
    letter-spacing: 0px;
    font-size: 14px;
    color: #cfcfcf;
  }
  em {
    color: #ff5555;
    font-style: normal;
  }
  div.text_fields {
    float: left;
  }
  div.text_area {
    float: right;
  }
  .text_input_wrapper {
    width: 265px;
    height: 30px;
    font-size: 18px;
    background: #021732;
    border: 1px solid #344356;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    .text_input {
      width: 96%;
      height: 20px;
      margin-top: 5px;
      padding: 0;
      border: 0;
      margin-left: 2%;
      background: transparent;
      font-size: 15px;
      color: white;
    }
  }
  .text_area_wrapper {
    width: 265px;
    background: #021732;
    border: 1px solid #344356;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    textarea {
      color: white;
      width: 96%;
      height: 75px;
      margin: 5px 3px;
      background: transparent;
      border: 0;
      overflow: auto;
    }
  }
}
#contact_submit {
  display: block;
  margin-top: 18px;
  background: #5a6f4a;
  color: #e0dbce;
  height: 40px;
  border: 0;
  width: 100%;
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  &.hover {
    background: #728A60;
  }
  &.sending {
    color: white;
    background: #A5B897 url(asset-path('contact_submit_loader.gif')) no-repeat 75px 50%;
  }
}
/*contact section end*/
footer {
  height: 425px;
	background: url(asset-path('backgrounds/waffle.png')) no-repeat center top;
}
/*image loader*/
#invisible {
	background: url(asset-path('contact_submit_loader.gif'));
  background: url(asset-path('tweet-loader.gif'));
  background: url(asset-path('pdf.png'));
  background: url(asset-path('colorbox/arrows.png'));
}
#top {
	position: fixed;
	bottom: 20px;
	width: 59px;
	height: 59px;
	background: url(asset-path('buttons/top.png')) no-repeat 0px -59px;
	text-indent: -9999px;
	display: block;
	left: 50%;
  &.hover {
    background: url(asset-path('buttons/top.png')) no-repeat;
  }
}
#fb-wrapper {
  margin-left: 28px;
  padding-top: 15px;
}
