<header>
  <h1>Wafflestudio</h1>
  <h2>We design develop delicious WEB</h2>
</header>
<nav class="navigation">
  <ul>
    <li><a>About Us</a></li>
    <li><a>Members</a></li>
    <li><a>Projects</a></li>
    <li><a>Contact</a></li>
  </ul>
</nav>
<article>
  <div id="tweetbox">

  </div>
  <div id="carousel">

  </div>
</article>
