<header>
  <h1><a href="/">Wafflestudio</a></h1>
  <h2>We design develop delicious WEB</h2>
</header>
<%= render :partial => 'layouts/navigation' %>
<article>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="waffle_facebook" class="fb-page" data-href="https://www.facebook.com/wafflestudio/" data-tabs="timeline" data-width="370px" data-height="320px" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/wafflestudio/"><a href="https://www.facebook.com/wafflestudio/">와플스튜디오-WaffleStudio</a></blockquote></div></div>
  <div id="carousel">
    <div id="slider">
    <% @carousels.each do |carousel| %>
      <a href="#" onclick="slider_action(<%= "'#{carousel.action[:type]}', '#{carousel.action[:value]}'" %>);return false" ><%= image_tag carousel.c_image.url(:middle) %></a>
    <% end %>
    </div>
  </div>
</article>
