<header>
  <h1>Wafflestudio</h1>
  <h2>We design develop delicious WEB</h2>
</header>
<%= render :partial => 'layouts/navigation' %>
<article>
  <div id="tweetbox">
    <h2><a href="http://twitter.com/wafflestudio" title="Wafflestudio">@wafflestudio</a>'s Latest Tweets</h2>
    <ul id="tweets">
    </ul>
  </div>
  <div id="carousel">
    <div id="slider">
    <% @carousels.each do |carousel| %>
      <%= link_to_function image_tag(carousel.c_image.url), "slider_action('#{carousel.action[:type]}', '#{carousel.action[:value]}')" %>
    <% end %>
    </div>
  </div>
</article>
