<header>
  <h1><a href="/">Wafflestudio</a></h1>
  <h2>We design develop delicious WEB</h2>
</header>
<%= render :partial => 'layouts/navigation' %>
<article>
  <div id="tweetbox">
    <h3>@wafflestudio</h3>
		<a target="_blank" href="http://twitter.com/wafflestudio" title="follow Wafflestudio on Twitter" id="follow_us"></a>
    <ul id="tweets">
			<li class="loading">Loading tweets...</li>
    </ul>
  </div>
  <div id="carousel">
    <div id="slider">
    <% @carousels.each do |carousel| %>
    	<a href="#" onclick="slider_action(<%= "'#{carousel.action[:type]}', '#{carousel.action[:value]}'" %>);return false" ><%= image_tag carousel.c_image.url %></a>
    <% end %>
    </div>
  </div>
</article>
