<script id="member_template" type="text/x-jquery-tmpl">
  <div class="member_popup">
    <div class="profile">
      <img src="${profile_url}" alt="${name}" title="${name}" />
    </div>
    <div class="text_content">
      <span class="name_eng">${name_eng}</span>
      <span class="name">${name}</span>
      <span class="school">${school}</span>
      <blockquote class="comment">"${comment}"</blockquote>
      <dl>
        <dt>Email</dt>
        <dd><a href="mailto:${email}" target="_blank">${email}</a></dd>
        <dt>Website</dt>
        <dd><a href="${website}" target="_blank">${website}</a></dd>
        <dt>Twitter</dt>
        <dd><a href="http://twitter.com/${twitter}" target="_blank">@${twitter}</a></dd>
        <dt>Skills</dt>
        <dd>
          <ul class="skills">
          {{each(i, skill) skills}}
            <li data-degree="${skill.degree}">${skill.name}</li>
          {{/each}}
          <ul>
        </dd>
        <dt>Projects</dt>
        <dd>
          <ul class="projects">
          {{each(i, p) projects}}
            <li data-id="${p.project.id}">
              {{if p.project.screenshot_urls.length}}
              <img src="${p.project.screenshot_urls[0]}" />
              {{/if}}
              <div class="caption">
              ${p.project.name}
              </div>
            </li>
          {{/each}}
          </ul>
        </dd>
      </dl>
    </div>
    <div class="nav">
      <div class="prev"></div>
      <div class="next"></div>
    </div>
  </div>
</script>
